<mat-toolbar color="primary">
  <button *ngIf="!hideMenu" mat-icon-button (click)="toggleSideNav()" name="Side navigation toggle">
    <mat-icon>menu</mat-icon>
  </button>
  <ng-content select="title"></ng-content>
  <span class="fill-remaining-space"></span>
  <ng-content></ng-content>

  <span *ngIf="!hideToolbarButtons">
    <mat-menu #appMenu="matMenu" class="offset-lang-menu">
      <button *ngFor="let item of listLanguages" (click)="selectLanguage(item.lang)" mat-menu-item>
        <span class="flag-icon {{ item.code }}"></span><b>{{ item.lang }}</b>
      </button>
    </mat-menu>
    <button mat-icon-button [matMenuTriggerFor]="appMenu">
      <span class="flag-icon {{ selectedLanguage.code }}"></span>
    </button>

    <span
      id="helpMenu"
      class="contextmenu"
      [matMenuTriggerFor]="contextMenu"
      [style.left.px]="menuLeft"
      [style.top.px]="menuTop"
    ></span>

    <mat-menu #contextMenu="matMenu">
      <button mat-menu-item (click)="editHelp()">{{ "help.edit" | translate }}</button>
    </mat-menu>

    <button mat-icon-button (click)="help()" name="helpButton" (contextmenu)="openContextMenu($event, 'helpMenu')">
      <mat-icon>help</mat-icon>
    </button>
  </span>
  <app-identity-menu></app-identity-menu>
</mat-toolbar>
