@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "~@angular/material/theming";
@import "../../../../../styles/variables";

:host {
  background-color: $primary;
  background-image: url(../../../../../assets/icon.png);
}
// Title
.toast-title {
  color: #ffffff;
}
// Main message body
.toast-message {
  color: #ffffff;
}
// Shows the time before toast disappears
.toast-progress {
  background-color: #ffffff;
}

.text-right {
  position: relative;
  top: -15px;
}

.mat-button,
.mat-flat-button,
.mat-icon-button,
.mat-stroked-button {
  min-width: 74px;
  border-radius: 0px;
}

.mat-button:first-child,
.mat-flat-button:first-child,
.mat-icon-button:first-child,
.mat-stroked-button:first-child {
  height: calc(15px + 50%);
}

.mat-button:last-child,
.mat-flat-button:last-child,
.mat-icon-button:last-child,
.mat-stroked-button:last-child {
  height: calc(15px + 50%);
}
