<app-toolbar>
    <span ngProjectAs="title">Car list</span>
</app-toolbar>


<div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

        <!-- Brand Column -->
        <ng-container matColumnDef="brand">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Brand </th>
            <td mat-cell *matCellDef="let element"> {{element.brand}} </td>
        </ng-container>

        <!-- Model Column -->
        <ng-container matColumnDef="model">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Model </th>
            <td mat-cell *matCellDef="let element"> {{element.model}} </td>
        </ng-container>

        <!-- Mileage Column -->
        <ng-container matColumnDef="mileage">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Mileage </th>
            <td mat-cell *matCellDef="let element"> {{element.mileage}} </td>
        </ng-container>


        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="clickHandler(row)"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[10, 50, 100]" showFirstLastButtons></mat-paginator>
</div>