<app-toolbar>
  <span ngProjectAs="title">About us page</span>

  <!-- everything not projected as a title will end up on the right -->
  <button mat-icon-button name="homepage button" (click)="homePage()">
    <mat-icon>home</mat-icon>
  </button>
</app-toolbar>

<!-- content wrapper -->
<div class="content">
  <h1 class="mat-display-1">About us</h1>

  <p style="max-width: 400px">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas odit, nostrum quod repudiandae eligendi neque
    mollitia culpa, nemo facilis assumenda ad saepe dolorum asperiores voluptatem, aliquid quasi fugit est aspernatur.
  </p>
</div>
