.toast-btn {
  margin: 5px;
  color: #ffffff;
}

.toast-button-info {
  background-color: #2f96b4;
}

.toast-button-success {
  background-color: #51a351;
}

.toast-button-warning {
  background-color: #f89406;
}

.toast-button-error {
  background-color: #bd362f;
}

.toast-button-default {
  background-color: #673ab7;
}

p {
  margin-bottom: 0;
}
